<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <link rel="shortcut icon" href="/icon/android-developer_icon-icons.com_50528.ico" type="image/x-icon"> --}}
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/vendor/css/bootstrap.min.css">
    <title>{{ title }}</title>
</head>
<body>
    
