<main class="main-contenedor pt-3" id="panel-main">
  <di class="mx-auto" style="margin-top:20%;">
    <h1 class="text-white fw-bold fs-1">
      Bienvenido al panel de control!
      </h1>
    </div>
</main>
