<main class="main-contenedor d-flex flex-row flex-md-col pt-3">
    <div class="inicio-main-rigth w-50 mx-2">
    <form class="form-login" method="POST" id="formInicioPost" action="">
          <div class="mb-3">
        <input class="form-control"  type="text" name="Home_InitialGreeting" placeholder="Saludo inicial">
          </div>
          <div class="mb-3">
        <input class="form-control"  type="text" name="Home_ProfesionName" placeholder="Saludo secundario">
          </div>
          <div class="d-grid gap-2">
        <input class="btn btn-outline-warning" type="submit" value="Agregar">
          </div>
    </form>
    </div>

    <div class="inicio-main-left w-50 mx-2">
      <form method="post" id="formInicioLista" action="">
  <div class="div-inicial py-2 px-3 my-2">
    <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="firstRadio">
    <div class="mx-2">
    <label class="form-check-label" for="firstRadio">First radio -</label>
    <label class="form-check-label" for="firstRadio">Second radio</label>
    </div>
  </div>
  <div class="div-inicial py-2 px-3 my-2">
    <input class="form-check-input me-1" type="radio" name="listGroupRadio" value="" id="secondRadio">
    <div class="mx-2">
    <label class="form-check-label" for="secondRadio">Second radio -</label>
    <label class="form-check-label" for="secondRadio">Third radio</label>
    </div>
  </div>
</form>
    </div>
</main>