<aside class="aside-contenedor" id="navAside">
    <nav class="aside-nav-a d-flex flex-column gap-2 ">
            <a class="ms-3 p-1 rounded" id="inicio" ><i class="bi bi-house-door-fill me-2"></i>Inicio</a>
            <a class="ms-3 p-1 rounded" id="sobreMi" ><i class="bi bi-person-circle me-2"></i>Sobre Mi</a>
            <a class="ms-3 p-1 rounded" id="servicios" ><i class="bi bi-window-stack me-2"></i>Servicios</a>
            <a class="ms-3 p-1 rounded" id="tecnologias" ><i class="bi bi-tools me-2"></i>Tecnologias</a>
            <a class="ms-3 p-1 rounded" id="companias" ><i class="bi bi-building-fill me-2"></i>Companias</a>
            <a class="ms-3 p-1 rounded" id="puestos" ><i class="bi bi-people-fill me-2"></i>Puestos</a>
            <a class="ms-3 p-1 rounded" id="proyectos" ><i class="bi bi-terminal-fill me-2"></i>Proyectos</a>
            <a class="ms-3 p-1 rounded" id="mensajes" ><i class="bi bi-envelope-fill me-2"></i>Mensajes</a>
    </nav>
</aside>