 <header class="header-contenedor">
      <div class="centrar-column-flex">
        <h1 class="nombre-logo fuente-ubuntu">{ LuisLV }</h1>
      </div>        
      <div class="header-principal">
        <a class="fuente-ubuntu link-menu" type="button"><i class="bi bi-power me-2"></i>Log out</a>
      </div>
 </header>