{{> header}}
<div class="container d-flex justify-content-center pt-5">
  <div class="row w-100 d-flex justify-content-center">
    <div class="col-md-5">
      <br />
      <div class="card sombras-bottom">
        <div class="card-body">

           <div class="text-center m-4">
            <h3><i class="bi bi-person-circle"></i>Login</h3>
            <hr>
          </div>
          {{!-- init-form --}}
          <form  class="form-login" method="POST" id="formularioLogin" action="/auth/login">
            <div class="mb-3 row">
              <div class="w-100">
                <input
                  type="email"
                  class="form-control"
                  name="User_Email"
                  id="inputNumEmpleado"
                  placeholder="Enter Email"
                  required
                />

             {{> userError }}

              </div>
            </div>

            <div class="mb-3 row">
              <div class="w-100">
                <input
                  type="password"
                  class="form-control"
                  name="User_Password"
                  id="inputPassword"
                  placeholder="Enter Password"
                  required
                />
            {{> passwordError }}
              </div>
            </div>

            <div class="mb-3 row">
              <div class="d-grid gap-2 text-center">
                <button type="submit" class="btn btn-primary">Login</button>      
              </div>
            </div>

          </form>
          {{!-- end-form --}}
        </div>
        <div class="card-footer text-muted pb-3 d-grid gap-2 text-center">
         <span class="mt-2 mb-2">¿No tienes una cuenta?
                  <a href="/auth/register">&nbsp;Registrate</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<p class="text-center p-1">v.1.1.0</p>
{{> footer}}
